name: ci

on:
  push:
    paths:
      - "src/**"
      - "Dockerfile"
    branches:
      - "master"

jobs:
  docker:
    runs-on: self-hosted
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: parthjeet/flask-app:latest,parthjeet/flask-app:1.${{github.run_number}}